<div class="font-tester text-center">
    <h1 class="text-2xl p-5">Try your Font</h1>

    <div class="w-[30%] mx-auto">
        <div class="flex justify-center mb-9">
            <input
                type="file"
                accept=".ttf,.otf,.woff,.woff2"
                class="block w-96 rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 shadow-lg shadow-gray-300 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                placeholder="Upload your font here."
                [formControl]="font"
                (change)="onUploadFile($event)"
            />
        </div>

        <div class="font-tester__result">
            @if (fontName) {
            <div class="info">
                <p>Font Name: {{ fontName }}</p>
            </div>
            }

            <textarea
                [formControl]="font"
                [style.font-family]="currentFontFamily || 'inherit'"
                [style.font-size]="'16px'"
                class="resize-y rounded-md w-full shadow-md"
                rows="10"
                placeholder="Try your font."
            ></textarea>
        </div>
    </div>
</div>
